<div class="container">
  <h1>Send a message to your friends!</h1>


  <select>
    <% @contacts.each do |contact| %>
    p contact
      <option value="<%= contact.number %>"><%= contact.first_name + " " + contact.last_name %></option>
    <% end %>
  </select>

  <!-- <form action="/messages" method="post">
    <input type="text" name="first_name" placeholder="First Name">
    <input type="text" name="last_name" placeholder="Last Name">
    <input type="text" name="number" placeholder="Phone Number">
    <input type="submit" value="Save!">
  </form> -->
</div>
