<div class="container">

  <h2><%= flash[:error] %></h2>

<% if !current_user %>
  <div id="login_box">
    <h1>Log In</h1>
<!--     <form class="login" name="login" action='/sessions/new' method='get'>
      <input type="button" value="Login with Google">
    </form> -->

    <!-- <a class="login" href="/sessions/new">Login with Google</a> -->
    <a class="logout" href="/users/new">Login with Google</a>

<!--     <form class="signup" name="logout" action='/users/new' method='get'>
      <input type="button" value="Sign Up with Google">
    </form> -->
  </div>
<% end %>

</div>