/** {
  border: 1px black dotted;
}*/
.background {
  background-image: url("../background.jpg");
  background-attachment: fixed;
}

.container{
  text-align: center;
}

.message {
  list-style-type: none;
  line-height: 2em;
}

.login {
  display: inline-block;
}

#login_box {
  border: 1px solid black;
  border-radius: 15px;
  width: 300px;
  margin: 0px auto;
  background-color: white;
  opacity: 0.8;
}

.signup {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
}

.email {
  display: block;
  margin-bottom: 0.5em;
}

.password{
  display: block;
  margin-bottom: 0.5em;
}

#contact_name {
  opacity: 1;
  font-weight: bold;
}

.contact {
  border-radius: 13px;
  padding: 25px;
  background-color: white;
  opacity: 0.6;
  margin: auto;
  width: 60%;
  margin-top: 20px;
}

.contact:hover {
    -webkit-transform:scale(1.007); /* Safari and Chrome */
}

.navbar {
  display: inline-block;
}


