.background {
  background-image: url("../background.jpg");
}

.container{
  text-align: center;
}

.login {
  display: inline-block;
}

.email {
  display: block;
  margin-bottom: 0.5em;
}

.password{
  display: block;
  margin-bottom: 0.5em;
}

#contact_name {
  opacity: 1;
  font-weight: bold;
}

.contact {
  border-radius: 13px;
  padding: 25px;
  background-color: white;
  opacity: 0.4;
  margin: auto;
  width: 60%;
  margin-top: 20px;
}

.contact:hover {
    -webkit-transform:scale(1.007); /* Safari and Chrome */
}o

