<div class="container">
  <h1>Welcome to JokeShit</h1>
  <h3>Sign up to become a dope as jokeshit member</h3>

  <form action="/users" method="post">
    <input type="text" name="first_name" placeholder="First Name">
    <input type="text" name="last_name" placeholder="Last Name">
    <input type="text" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Sign Up!">
  </form>
</div>

<a href="/users/new">sign up</a>

