<header>
  <h3>Hi <%= current_user.first_name %></h3>
<nav>
  <a href="/contacts">Contacts</a> |
  <a href="/users/<%= current_user.id %>">Profile</a> |
  <a href="/messages/new">New Message</a> |
  <form action="/sessions/<%= current_user.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Log out">
  </form>
</nav>
  <p>Some additional information here</p>
</header>
